[submodule "submodules/pdf.js"]
	path = submodules/pdf.js
	url = https://github.com/mozilla/pdf.js
[submodule "submodules/JSDoc"]
	path = submodules/JSDoc
	url = https://github.com/Alpaq92/JSDoc
[submodule "submodules/docx"]
	path = submodules/docx
	url = https://github.com/dolanmiu/docx
[submodule "submodules/WebODF"]
	path = submodules/WebODF
	url = https://github.com/webodf/WebODF
[submodule "submodules/rtf.js"]
	path = submodules/rtf.js
	url = https://github.com/tbluemel/rtf.js
[submodule "submodules/marked"]
	path = submodules/marked
	url = https://github.com/markedjs/marked
[submodule "submodules/foliate-js"]
	path = submodules/foliate-js
	url = https://github.com/johnfactotum/foliate-js
[submodule "submodules/dejaview"]
	path = submodules/dejaview
	url = https://github.com/Alpaq92/dejaview
